---
---

//
// IMPORTS
//

@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';
@import 'reset';
@import 'variables';
@import 'highlights';
@import 'animations';

/**************/
/* BASE RULES */
/**************/

.dotted-background {
  background-image: radial-gradient($neutralLighter 0.5px, transparent 0);
  background-size: 20px 19px;
  background-position: -20px -20px;
}

.radial-background {
  background-image: radial-gradient(
      circle at center center,
      $neutralDarker,
      $transparentNeutralDarker
    ),
    repeating-radial-gradient(
      circle at center center,
      $transparentNeutralDarker,
      $transparentNeutralDarker,
      20px,
      transparent 40px,
      transparent 20px
    );
  background-blend-mode: multiply;
}

.thin-line-border {
  border: 0.5px solid adjust-color($neutralLighter, $alpha: -0.8);
  border-radius: 5px;
}

.transparent-blur-background {
  background-color: adjust-color($transparentNeutralDarker, $alpha: -0.6);
  backdrop-filter: blur(2px);
}

html {
  background: $neutralDarker;
}

body {
  @extend .dotted-background;
  font-family: $base-font-family;
  color: $neutralLighter;
  padding: 0em 2em 0em 2em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @include mobile {
    padding: 0em 0.9em 0em 0.9em;
  }
}

section {
  &#content {
    margin-top: 110px;
    padding: 1em 0em 1em 0em;

    @include mobile {
      margin-top: 150px;

      padding: 1em 0em 1em 0em;
    }
  }
}

.container {
  flex: 1;
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  color: $neutralLighter;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $neutralLighter;
}

p {
  margin: 15px 0;
}

a {
  color: $accentLight;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    color: $accent;
    font-size: 1.05em;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

canvas {
  position: fixed;
  z-index: -1;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $neutralLighter;
}

// Specify the color of the selection
::-moz-selection {
  color: $accentLight;
  background: $neutralDarker;
}
::selection {
  color: $accentLight;
  background: $neutralDarker;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.site-name {
  #site-anchor {
    font-family: $header-font-family;
    transition: all 0.25s ease-out;
    &:hover {
      color: $accent;
    }
  }
}

.site-avatar {
  float: left;
  margin-right: 20px;
  width: 70px;
  height: 70px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.navbar-burger {
  color: $neutralLighter !important;
}
.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $neutralLighter;
  cursor: pointer;
  font-family: $base-font-family;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $neutralLighter;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

#header {
  @extend .thin-line-border, .transparent-blur-background;
  backdrop-filter: blur(2.5px);

  padding: 20px;
  border-top: none;
  width: 100%;
  float: right;
  font-family: $base-font-family;
  font-size: 25px;

  @include mobile {
    float: none;

    display: block;
    font-size: 16px;
    text-align: center;
  }

  #navMenu {
    background-color: transparent;
  }

  .navbar-item {
    margin-left: 20px;
    color: $neutralLighter;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    transition: all 0.25s ease-out;

    @include mobile {
      margin: 0 10px;
      font-weight: 400;
      text-align: center;
    }

    &:hover {
      cursor: pointer;
      color: $primary;
      background-color: $accentLight;
      box-shadow: 0 0 10px $accentLight;
      font-size: 1.1em;
    }

    &:active {
      cursor: pointer;
    }
  }
}

//
// .main
//
.home {
  .hero {
    @extend .thin-line-border, .transparent-blur-background, .radial-background;

    overflow-y: hidden;

    p {
      color: $neutralLighter;
    }

    img {
      position: absolute;
      width: 100%;
      top: -50%;
      z-index: -5;
      filter: brightness(80%) grayscale(100%);
      opacity: 0.5;
    }

    .button {
      background-color: $accentLight;
      color: $neutralDarker;
      border: none;
      animation: shadow-pulse 2s both infinite;
      transition: all 0.25s ease-out;
      &:hover {
        background-color: $accent;
        font-size: 1.2em;
      }
    }

    margin-bottom: 0.5em;
  }
}

//
// .about
//
.about {
  @extend .thin-line-border, .transparent-blur-background;

  padding: 2em;
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//
// .blog
//
.posts {
  @extend .thin-line-border, .transparent-blur-background;
  padding: 1em;

  .thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
    border-bottom: 0.1px solid adjust-color($neutralLighter, $alpha: -0.9);
    &:last-child {
      border-bottom: none;
    }
    img {
      width: 300px;
      height: 300px;
    }
  }
}

article {
  @extend .thin-line-border, .transparent-blur-background;

  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid $neutralDark;
    padding: 0.1em 1em;
    color: $neutralDark;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

#footer strong {
  color: $neutralLighter;
}

#footer {
  @extend .thin-line-border, .transparent-blur-background;
  padding: 20px !important;
}

.footer-contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  a {
    color: $accentLight !important;
    padding: 0px 10px 0px 10px;
  }
}

//
// Contact
//
.contact {
  #contact-header {
    text-align: center;
  }

  #contact-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
      flex-direction: column;
      text-align: center;
    }

    #contact-form {
      @extend .thin-line-border, .transparent-blur-background;
      padding: 2em;
      width: 60%;
      text-align: center;

      @include mobile {
        width: 90%;
      }

      label {
        color: $neutralLight;
      }

      input {
        @extend .thin-line-border;
        color: $neutralLighter;
        background-color: $transparentNeutralDark;
        &::placeholder {
          color: $neutral;
        }
      }

      textarea {
        @extend .thin-line-border;
        color: $neutralLighter;
        background-color: $transparentNeutralDark;
        &::placeholder {
          color: $neutral;
        }
      }

      select {
        @extend .thin-line-border;
        color: $neutralLighter;
        background-color: $transparentNeutralDark;
        option {
          color: $neutralLighter;
        }
      }

      button {
        transition: all 0.1s;
        &:hover {
          font-size: 1.1em;
        }
      }

      .is-grouped {
        flex-flow: row;
        align-items: center;
        justify-content: center;
      }

      #contact-submit {
        @extend .thin-line-border;

        background-color: $accentLight;
        color: $neutralDarker;
      }

      #contact-cancel {
        border-color: $accentLight;
        background-color: $neutralDarker;
        color: $accentLight;
      }
    }

    #contact-location {
      border: solid $neutralLight;
      border-radius: 5px;
      border-width: 1px;
      overflow: visible;
      min-height: 500px;
      margin: 0.5em 2em 2em 2em;

      width: 60%;
      height: 100%;
      filter: grayscale(100%) contrast(100%) invert(100%);

      @include mobile {
        width: 90%;
        margin: 0.5em 2em 2em 2em;
      }
    }
  }
}
