---
---

//
// IMPORTS
//
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css';
@import 'reset';
@import 'variables';

/**************/
/* BASE RULES */
/**************/

$blue-1: #bbcae5;
$blue-2: #718ccf;
$blue-3: #4a67be;
$blue-4: #304dab;
$blue-5: #071b91;

$header-background: rgba(48, 77, 171, 0.8);
$product-background: rgba(74, 103, 190, 0.5);
$form-background: rgba(74, 103, 190, 0.9);
$form-control-background: rgba(48, 77, 171, 0.8);

$yellow: yellow;

$base-font-family: Verdana, Geneva, Tahoma, sans-serif;

html {
  background: $blue-4;
}

body {
  font-family: $base-font-family;
  color: $blue-1;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
  color: $blue-1;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $blue-1;
}

p {
  margin: 15px 0;
}

a {
  color: $yellow;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:active {
    color: $blue;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $blue-1;
}

// Specify the color of the selection
::-moz-selection {
  color: $yellow;
  background: $blue-5;
}
::selection {
  color: $yellow;
  background: $blue-5;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  border-bottom: 2px solid $blue-2;
  border-right: 2px solid $blue-2;
  border-left: 2px solid $blue-2;
  padding: 20px;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $blue-1;
  cursor: pointer;
  font-family: $base-font-family;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $blue-1;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  background-color: transparent !important;
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $base-font-family;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $blue-1;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//
.hero {
  background-color: $yellow;
  color: $blue-5;
}

//
// .blog
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

footer strong {
  color: $white;
}

footer {
  padding: 20px !important;
  text-align: center;
  background-color: transparent !important;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import 'highlights';
@import 'svg-icons';
