<footer class="footer">
  <div class="content has-text-centered">
    {% include svg-icons.html %}
    <p>
      <strong>LiwaTec Software Company</strong> Founded by
      <a href="#">Willie Johnson</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
      website content is licensed
      <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
        >CC BY NC SA 4.0</a
      >.
    </p>
    <div class="footer-contacts">
      <div>
        <a href="#" class="fa fa-facebook"></a>
      </div>
      <div>
        <a href="#" class="fa fa-twitter"></a>
      </div>
      <div>
        <a href="tel:2409078829" class="fa fa-phone-alt"></a>
      </div>
      <div>
        <a href="mailto: liwa.johnson@gmail.com" class="fa fa-envelope"></a>
      </div>
    </div>
  </div>
</footer>
