<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(
      document.querySelectorAll('.navbar-burger'),
      0,
    );

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach((el) => {
        el.addEventListener('click', () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
</script>
<header class="masthead clearfix">
  <a href="{{ site.baseurl }}/" class="site-avatar" id="site-avatar"
    ><img src="{{ site.baseurl }}/images/liwatec-logo-square.png"
  /></a>

  <div class="site-info">
    <h1 class="site-name">
      <a href="{{ site.baseurl }}/">{{ site.name }}</a>
    </h1>
    <p class="site-description">The Future of Design and Technology</p>
  </div>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a id="home" class="navbar-item" href="{{ site.baseurl }}/">Home</a>

        <a id="blog" class="navbar-item" href="{{ site.baseurl }}/blog">Blog</a>
        <a id="about" class="navbar-item" href="{{ site.baseurl }}/about"
          >About</a
        >
      </div>
    </div>
  </nav>
</header>
