<header class="masthead clearfix">
  <a href="{{ site.baseurl }}/" class="site-avatar"
    ><img src="{{ site.avatar }}"
  /></a>

  <div class="site-info">
    <h1 class="site-name">
      <a href="{{ site.baseurl }}/">{{ site.name }}</a>
    </h1>
    <p class="site-description">The Future of Design and Technology</p>
  </div>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{{ site.baseurl }}/">Home</a>

        <a href="{{ site.baseurl }}/blog">Blog</a>
        <a href="{{ site.baseurl }}/about">About</a>
      </div>
    </div>
  </nav>
</header>
