<form id="subscription-form" class="cta-form">
  <div id="form-header">
    <h3>Subscribe to LiwaTec</h3>
    <p>Weekly mailing list containing the latest news.</p>
  </div>
  <div class="field">
    <div class="control">
      <input class="input" type="text" placeholder="Name" />
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input
        class="input"
        type="email"
        placeholder="example@email.com"
        value=""
      />
    </div>
  </div>

  <div class="field">
    <div class="control">
      <div class="select">
        <select>
          <option id="default">What topic interests you most?</option>
          <option>Productivity</option>
          <option>Wellbeing</option>
          <option>Philosoophy</option>
          <option>Technology</option>
          <option>Other</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button id="cta-subscribe" class="button">Subscribe</button>
    </div>
  </div>
</form>
