@font-face {
  font-family: 'robotolight';
  src: url('../webkitfonts/roboto-light-webfont.woff2') format('woff2'),
    url('../webkitfonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droid_serifregular';
  src: url('../webkitfonts/droidserif-webfont.woff2') format('woff2'),
    url('../webkitfonts/droidserif-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
