//
// VARIABLES
//

// Colors
$vivid-sky-blue: #32cbffff;
$cyan-process: #00a5e0ff;

$sizzling-red: #ff5a5fff;
$rosso-corsa: #d00000ff;

$earth-yellow: #d7af70;
$prussian-blue: #1c3144ff;

$selective-yellow: #ffba08ff;

$black: rgb(19, 19, 19);
$jet: hsla(0, 0%, 19%, 1);
$dim-gray: hsla(0, 0%, 41%, 1);
$sonic-silver: hsla(0, 0%, 44%, 1);
$battleship-grey: hsla(0, 0%, 52%, 1);
$spanish-gray: hsla(0, 0%, 60%, 1);
$gray-x-11-gray: hsla(0, 0%, 74%, 1);
$silver: hsla(0, 0%, 77%, 1);
$platinum: hsla(0, 0%, 90%, 1);

$neutralDarkest: $black;
$neutralDarker: $jet;
$neutralDark: $dim-gray;
$neutral: $sonic-silver;
$neutralLight: $silver;
$neutralLighter: $platinum;

$primary: $neutralDarker;
$primaryLight: $neutralDark;
$primaryDark: $neutralDarkest;

$secondary: $neutral;
$secondaryLight: $vivid-sky-blue;
$secondaryDark: $jet;

$accent: $selective-yellow;
$accentLight: $earth-yellow;
$accentDanger: $rosso-corsa;
$accentSubmit: $vivid-sky-blue;

$transparentAccentLight: adjust-color($accentLight, $alpha: -0.6);

$transparentNeutralDarker: adjust-color($neutralDarker, $alpha: -0.6);
$transparentNeutralDark: adjust-color($neutralDark, $alpha: -0.6);

// Fonts
$header-font-family: Verdana, sans-serif;
$base-font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin half {
  @media (max-width: 1000px) {
    @content;
  }
}

.dotted-background {
  background-image: radial-gradient($neutralLighter 0.5px, transparent 0);
  background-size: 20px 19px;
  background-position: -20px -20px;
}

.container-style {
  @extend .thin-line-border;
  border-color: adjust-color($color: $primaryLight, $alpha: -0.5);
  background-color: adjust-color($color: $primaryLight, $alpha: -0.85);
}

.radial-background {
  background-image: radial-gradient(
      circle at center center,
      $primary,
      $transparentNeutralDarker
    ),
    repeating-radial-gradient(
      circle at center center,
      $transparentNeutralDarker,
      $transparentNeutralDarker,
      20px,
      transparent 40px,
      transparent 20px
    );
  background-blend-mode: multiply;
}

.thin-line-border {
  border: 0.5px solid adjust-color($neutralLighter, $alpha: -0.8);
  border-radius: 5px;
}

.transparent-blur-background {
  background-color: adjust-color($transparentNeutralDarker, $alpha: -0.2);
  box-shadow: 0 0 8px 4px adjust-color($color: $primaryDark, $alpha: -0.7);

  /* if backdrop support: very transparent and blurred */
  @supports (
    (-webkit-backdrop-filter: blur(2px)) or (backdrop-filter: blur(2px))
  ) {
    background-color: adjust-color($transparentNeutralDarker, $alpha: -0.6);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
}
