//
// VARIABLES
//

// Colors
$vivid-sky-blue: #32cbffff;
$cyan-process: #00a5e0ff;

$sizzling-red: #ff5a5fff;
$rosso-corsa: #d00000ff;

$earth-yellow: #d7af70;
$prussian-blue: #1c3144ff;
$oxford-blue: #001b2eff;

$selective-yellow: #ffba08ff;

$spanish-gray: hsla(0, 0%, 60%, 1);
$sonic-silver: hsla(0, 0%, 44%, 1);
$gray-x-11-gray: hsla(0, 0%, 74%, 1);
$silver: hsla(0, 0%, 77%, 1);
$platinum: hsla(0, 0%, 90%, 1);
$jet: hsla(0, 0%, 19%, 1);
$dim-gray: hsla(0, 0%, 41%, 1);
$battleship-grey: hsla(0, 0%, 52%, 1);

$primary: $prussian-blue;
$primaryLight: $earth-yellow;
$primaryDark: $oxford-blue;

$secondary: $cyan-process;
$secondaryLight: $vivid-sky-blue;
$secondaryDark: $jet;

$accent: $selective-yellow;
$accentLight: $earth-yellow;
$accentDark: $rosso-corsa;

$transparentAccentLight: adjust-color($accentLight, $alpha: -0.6);

$neutralDarker: $jet;
$neutralDark: $dim-gray;
$neutral: $sonic-silver;
$neutralLight: $silver;
$neutralLighter: $platinum;

$transparentNeutralDarker: adjust-color($neutralDarker, $alpha: -0.6);
$transparentNeutralDark: adjust-color($neutralDark, $alpha: -0.6);

// Fonts
$header-font-family: Verdana, sans-serif;
$base-font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
